# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Flask
instance/
*.db
*.sqlite

# Environment variables — NEVER commit these
.env
.env.*
*.env

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
tfplan
*.tfplan
crash.log
override.tf
override.tf.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# CI artifacts.....
test-results/
coverage.xml
